h1 Modec#index
p Find me in app/views/modec/index.html.slim
= link_to '板块', part_modec_path(part_id: 12)
br
= link_to '个人中心', user_center_modec_path(user_id: 12)
br
= link_to '帖子', topic_modec_path(topic_id: 12)
br
= link_to '关于', about_modec_path
br
